mnth*/
monthimgs/
211223_R_and_growth_rate_time_series_for_publication_v1.0.xlsx
20211228121444231_EGRPDT_UNIT.zip
BoundaryDataLA.zip
BoundaryDataLA2.zip
censusData.csv
censusLA.csv
contactTracingDataBBC.xls
estAgeDataRegion.csv
LTLA cases to census.xlsx
ltla_ageData.csv
regionalAgeBreakdowncases.csv
regionaldeathbydeathdate.csv
regionalnewcases.csv
regionalvaccinated.csv
ukwide.csv
utlaAges.csv
UTLACaseData.csv
data.csv